{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% set page_title = "Liste de mes activités" %}
{% block content %}
    {{ get_button("Ajouter une nouvelle activité", {
        "url": "javascript:document.location.href = '" ~ path('activity_new') ~ "'",
        "icon": WidgetExtension.ICON_PLUS
        })
    }}
    <table class="dataTable">
        <thead>
            <tr>
                <th>Titre et description de l'activité</th>
                <th style="text-align: right">Tarif client</th>
                <th style="text-align: right; width: 130px">Charges en cours</th>
                <th style="text-align: right; width: 130px">Recette</th>
                <th style="width: 150px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}<br />{{ entity.description }}</td>
                    <td style="text-align: right">{{ entity.price|number_format(2, ',', ' ') }} €</td>
                    <td style="text-align: right">{{ (entity.price*charges)|round(0, 'floor')|number_format(2, ',', ' ') }} €</td>
                    <td style="text-align: right">{{ (entity.price-((entity.price*charges))|round(0, 'floor'))|number_format(2, ',', ' ') }} €</td>
                    <td>
                        {{ get_link("Modifier",
                                                { 
                                                  "url": path('activity_edit', { 'id': entity.id}),
                                                  "icon": WidgetExtension.ICON_EDIT,
                                                  "csrf": true
                                                }
                                  )
                        }}
                        &nbsp;&nbsp;
                        {{ get_link("Supprimer",
                                                { 
                                                  "url": path('activity_delete', { 'id': entity.id}),
                                                  "icon": WidgetExtension.ICON_REMOVE_CIRCLE,
                                                  "method": "delete",
                                                  "confirm":"Etes-vous sur de vouloir supprimer l\\'activité " ~ entity.name ~ " ?",
                                                  "csrf": true,
                                                  "class": "deleteLink"
                                                }
                                  )
                        }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
