{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% set page_title = "Liste de ma clientèle" %}
{% block content %}
    {{ get_button("Ajouter un nouveau client", {
        "url": "javascript:document.location.href = '" ~ path('client_new') ~ "'",
        "icon": WidgetExtension.ICON_PLUS
        })
    }}
    <table class="dataTable">
        <thead>
            <tr>
                <th>Nom du client</th>
                <th style="width: 250px">E-mail</th>
                <th style="width: 180px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
                    <td>
                        {{ get_link("Modifier",
                                                { 
                                                  "url": path('client_edit', { 'id': entity.id}),
                                                  "icon": WidgetExtension.ICON_EDIT,
                                                  "csrf": true
                                                }
                                  )
                        }}
                        &nbsp;&nbsp;
                        {{ get_link("Supprimer",
                                                { 
                                                  "url": path('client_delete', { 'id': entity.id}),
                                                  "icon": WidgetExtension.ICON_REMOVE_CIRCLE,
                                                  "method": "delete",
                                                  "confirm":"Etes-vous sur de vouloir supprimer le client " ~ entity.name ~ " ?",
                                                  "csrf": true,
                                                  "class": "deleteLink"
                                                }
                                  )
                        }}                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
