{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% set page_title = "Liste de mes prestations" %}
{% block content %}
    {{ get_button("Ajouter une nouvelle prestation", {
        "url": "javascript:document.location.href = '" ~ path('benefit_new') ~ "'",
        "icon": WidgetExtension.ICON_PLUS
        })
    }}
    <table class="dataTable">
        <thead>
            <tr>
                <th style="width: 60px">Date</th>
                <th>Client</th>
                <th style="width: 100px">Etat</th>
                <th style="width: 20px">Qté</th>
                <th style="width: 60px">Total</th>
                <th style="width: 80px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.date|date('d/m/Y') }}</td>
                    <td>{{ entity.client.name }} - {{ entity.activity.name }}</td>
                    <td>
                        {% if entity.bill is not null %}
                            {% if entity.bill.accepted %}
                                Facturé
                            {% else %}
                                Facturé, en attente
                            {% endif %}
                        {% else %}
                            Non facturé
                        {% endif %}
                    </td>
                    <td>{{ entity.quantity|number_format(2, ',', ' ') }}</td>
                    <td style="text-align: right"><b>{{ (entity.price * entity.quantity)|number_format(2, ',', ' ') }} €</b></td>
                    <td style="text-align: center">
                        {% if entity.bill is null %}
                        {{ get_link("Supprimer",
                                                { 
                                                  "url": path('benefit_delete', { 'id': entity.id}),
                                                  "icon": WidgetExtension.ICON_REMOVE_CIRCLE,
                                                  "method": "delete",
                                                  "confirm":"Etes-vous sur de vouloir supprimer la prestation du " ~ entity.date|date('d/m/Y') ~ " ?",
                                                  "csrf": true
                                                }
                                  )
                        }}                            
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
