{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% set page_title = "Liste des autoentreprises" %}
{% block content %}
    {{ get_button("Ajouter une nouvelle autoentreprise", {
        "url": "javascript:document.location.href = '" ~ path('company_new') ~ "'",
        "icon": WidgetExtension.ICON_PLUS
        })
    }}
    <table class="table">
        <thead>
            <tr>
                <th>Nom de l'autoentreprise</th>
                <th>SIRET</th>
                <th style="width: 250px">E-mail du gérant</th>
                <th style="width: 180px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.siret }}</td>
                    <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
                    <td>
                        {{ get_link("Modifier",
                                                { 
                                                  "url": path('company_edit', { 'id': entity.siret}),
                                                  "icon": WidgetExtension.ICON_EDIT,
                                                  "csrf": true
                                                }
                                  )
                        }}
                        &nbsp;&nbsp;
                        {{ get_link("Supprimer",
                                                { 
                                                  "url": path('company_delete', { 'id': entity.siret}),
                                                  "icon": WidgetExtension.ICON_REMOVE_CIRCLE,
                                                  "method": "delete",
                                                  "confirm":"Etes-vous sur de vouloir supprimer l\\'autoentreprise " ~ entity.name ~ " ?",
                                                  "csrf": true,
                                                  "class": "deleteLink"
                                                }
                                  )
                        }}                         
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
