{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% set page_title = "Mon autoentreprise" %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">Informations de votre Autoentreprise</div>
        <table class="table">
            <tr><td>Nom</td><td>{{ entity.getName() }} {% if entity.getEirlStatus() %} EIRL {% endif %}</td></tr>
            <tr><td>Nom court</td><td>{{ entity.getShortName() }}</td></tr>
            <tr><td>Adresse</td><td>{{ entity.getAddress() }}</td></tr>
            <tr><td>Adresse électronique</td><td>{{ entity.getEmail() }}</td></tr>
            <tr><td>Numéro de téléphone</td><td>{{ entity.getPhoneNumber() }}</td></tr>
            <tr><td>Code d'activité APE</td><td>{{ entity.getApeCode() }}</td></tr>
            <tr><td>Numéro SIRET</td><td>{{ entity.getSiret() }}</td></tr>
            <tr><td>Date du début d'activité</td><td>{{ entity.getStartDateActivity()|date('d/m/Y') }}</td></tr>
            <tr><td>Prix de la prestation horaire</td><td>{{ entity.getDefaultPrice() }}</td></tr>
            <tr><td>Taux global des charges (%)</td><td>{{ entity.getCharges() }}</td></tr>
            <tr><td>Logo d'entreprise</td><td><img src="uploads/{{ entity.getLogoFile() }}" /></td></tr>
        </table>
    </div>


    {{ get_link("Modifier",
    {
        "url": path('company_edit', { 'id': entity.siret }),
        "icon": WidgetExtension.ICON_EDIT,
        "csrf": true
    }
    )
    }}
{% endblock %}
