{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% block content %}
    {{ form_start(entityForm) }}
        <div class="error">{{ form_errors(entityForm) }}</div>
        {{ form_row(entityForm.title) }}
        {{ form_row(entityForm.client) }}
        {{ form_row(entityForm.totalPrice) }}
        {{ form_row(entityForm.handOff) }}
        <div class="form-group">
            <label class="col-sm-2 control-label required">Montant total remisé :</label>
            <div class="col-sm-10">
                <span id="smurf_businessbundle_bill_totalPrice_handOff" style="width: 80px" class="form-control">0,00</span>
            </div>
        </div>
        {{ form_row(entityForm.accepted) }}

        {{ form_errors(entityForm.benefits) }}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-warning">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{ form_label(entityForm.benefits) }}
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body bill_benefit" style="font-size: 12px">
                <table class="dataTable">
                    <thead>
                        <tr>
                            <th style="width: 30px">Choix</th>
                            <th style="width: 45px">Date</th>
                            <th style="width: 50px">Montant</th>
                            <th>Client / Prestation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for child in entityForm.benefits %}
                        {% set index = child.vars.value %}
                        <tr>
                            <td>{{ form_widget(child) }}</td>
                            <td><label for="smurf_businessbundle_bill_benefits_{{ choices[index].id }}">{{ choices[index].date|date('d/m/Y') }}</label></td>
                            <td style="text-align: right"><label for="smurf_businessbundle_bill_benefits_{{ choices[index].id }}"><span id="smurf_businessbundle_bill_benefits_{{ choices[index].id }}_value">{{ choices[index].price*choices[index].quantity }}</span> €</label></td>
                            <td><label for="smurf_businessbundle_bill_benefits_{{ choices[index].id }}">{{ choices[index].client.name }} - {{ choices[index].activity.name }}</label></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>      
        </div>
        {% do entityForm.submit.setRendered %}
        {% do entityForm.benefits.setRendered %}
        {{ form_rest(entityForm) }}
        <br />
        <div style="text-align: right">
            <button type="button" class="btn btn-info" onclick="javascript:document.location.href = '{{ path(back_url) }}';">
                <span class="glyphicon glyphicon-chevron-left"></span> Précédent
            </button>&nbsp;
            <button type="button" id="form_submit" class="btn btn-danger" onclick="javascript:doCreate();">
                <span class="glyphicon glyphicon-floppy-saved"></span> Valider
            </button>
            <button type="submit" id="hidden_form_submit" style="visibility: hidden"></button>
        </div>
    {{ form_end(entityForm) }}

    <script>
        $(function() {
            computeTotalPriceWithHandOff();
        })
    </script>

{% endblock %}
