{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% set page_title = "Liste de mes devis/factures" %}
{% block content %}
    {{ get_button("Créer une nouvelle facture/devis", {
        "url": "javascript:document.location.href = '" ~ path('bill_new') ~ "'",
        "icon": WidgetExtension.ICON_PLUS
        })
    }}
    <table class="dataTable">
        <thead>
            <tr>
                <th style="width: 60px">Date</th>
                <th style="width: 80px">Numéro</th>
                <th>Désignation / Client</th>
                <th style="width: 80px">Etat</th>
                <th style="width: 80px">Montant</th>
                <th style="width: 180px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in entities %}
                <tr>
                    <td>
                        {% if bill.accepted %}
                            {{ bill.dateAccepted|date('d/m/Y') }}
                        {% else %}
                            {{ bill.dateInitial|date('d/m/Y') }}
                        {% endif %}
                    </td>
                    <td>
                        {{ get_link(bill.id,
                                            {
                                                  "url": path('bill_benefits', { 'id': bill.id }),
                                                  "csrf": true
                                            }
                                    )
                        }}                        
                    </td>
                    <td>{{ bill.title }} / {{ bill.client.name }}</td>
                    <td>
                        {% if bill.accepted %}
                            {% if bill.paymentMode == 0 %}
                                Accepté
                            {% else %}
                                Payé
                                {%  if bill.paymentMode == 1 %}
                                    (Chèque)
                                {% elseif bill.paymentMode == 2 %}
                                    (CB)
                                {% elseif bill.paymentMode == 3 %}
                                    (Liquide)
                                {% elseif bill.paymentMode == 4  %}
                                    (Paypal)
                                {% endif %}
                            {% endif %}
                        {% else %}
                            En attente
                        {% endif %}
                    </td>
                    <td style="text-align: right"><b>{{ bill.totalHandOffPrice|number_format(2, ',', ' ') }} €</b></td>
                    <td style="text-align: center">
                        {% if not bill.accepted %}
                            {{ get_link("Modifier",
                                                    { 
                                                      "url": path('bill_edit', { 'id': bill.id }),
                                                      "icon": WidgetExtension.ICON_EDIT,
                                                      "csrf": true
                                                    }
                                      )
                            }}                            
                            &nbsp;&nbsp;
                            {{ get_link("Supprimer",
                                                    { 
                                                      "url": path('bill_delete', { 'id': bill.id }),
                                                      "icon": WidgetExtension.ICON_REMOVE_CIRCLE,
                                                      "method": "delete",
                                                      "confirm":"Etes-vous sur de vouloir supprimer la facture " ~ bill.title ~ " ?",
                                                      "csrf": true
                                                    }
                                      )
                            }}
                            <br />
                            {{ get_link("Valider",
                                                    { 
                                                      "url": path('bill_accept', { 'id': bill.id }),
                                                      "icon": WidgetExtension.ICON_OK,
                                                      "csrf": true
                                                    }
                                      )
                            }}
                            &nbsp;&nbsp;
                        {% endif %}
                            {{ get_link("Devis",
                                                    { 
                                                      "url": path('bill_print', { 'id': bill.id, 'forceQuote': true }),
                                                      "icon": WidgetExtension.ICON_DOWNLOAD,
                                                      "csrf": true
                                                    }
                                      )
                            }}                            
                        {% if bill.accepted %}
                            &nbsp;&nbsp;{{ get_link("Facture",
                                                    { 
                                                      "url": path('bill_print', { 'id': bill.id }),
                                                      "icon": WidgetExtension.ICON_DOWNLOAD,
                                                      "csrf": true
                                                    }
                                      )
                            }}
                            <br />
                            {% if bill.paymentMode == 0 %}
                            &nbsp;&nbsp;{{ get_link("Facture payé...",
                                                    {
                                                        "url": path('bill_paid_form', { 'id': bill.id }),
                                                        "icon": WidgetExtension.ICON_CHECK,
                                                        "csrf": true
                                                    }
                                    )
                            }}
                            {% endif %}
                        {% else %}
                            <br />
                            {{ get_link("Notifier les clients",
                                        {
                                            "url": path('bill_notify', { 'id': bill.id }),
                                            "icon": WidgetExtension.ICON_ENVELOPE,
                                            "method": "get",
                                            "confirm":"Etes-vous sur de vouloir notifier les clients de la disponibilité du devis " ~ bill.title ~ " ?",
                                            "csrf": true
                                        }
                            )
                        }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
