{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% set page_title = "Liste de mes devis/factures" %}
{% block content %}
    <table class="dataTable">
        <thead>
            <tr>
                <th style="width: 60px">Date</th>
                <th style="width: 80px">Numéro</th>
                <th>Désignation</th>
                <th style="width: 80px">Etat</th>
                <th style="width: 60px">Montant</th>
                <th style="width: 150px">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in entities %}
                <tr>
                    <td>
                        {% if bill.accepted %}
                            {{ bill.dateAccepted|date('d/m/Y') }}
                        {% else %}
                            {{ bill.dateInitial|date('d/m/Y') }}
                        {% endif %}
                    </td>
                    <td>
                        {{ get_link(bill.id,
                                            {
                                                  "url": path('bill_benefits', { 'id': bill.id }),
                                                  "csrf": true
                                            }
                                    )
                        }}
                    <td>{{ bill.title }}</td>
                    <td>
                        {% if bill.accepted %}
                            {% if bill.paymentMode == 0 %}
                                Accepté
                            {% else %}
                                Payé
                                {%  if bill.paymentMode == 1 %}
                                    (Chèque)
                                {% elseif bill.paymentMode == 2 %}
                                    (CB)
                                {% elseif bill.paymentMode == 3 %}
                                    (Liquide)
                                {% elseif bill.paymentMode == 4  %}
                                    (Paypal)
                                {% endif %}
                            {% endif %}
                        {% else %}
                            En attente
                        {% endif %}
                    </td>
                    <td style="text-align: right"><b>{{ bill.totalHandOffPrice|number_format(2, ',', ' ') }} €</b></td>
                    <td style="text-align: center">
                        {{ get_link("Devis",
                                                { 
                                                  "url": path('bill_print', { 'id': bill.id, 'forceQuote': true }),
                                                  "icon": WidgetExtension.ICON_DOWNLOAD,
                                                  "csrf": true
                                                }
                                  )
                        }}
                        &nbsp;&nbsp;
                        {% if bill.accepted %}
                            {{ get_link("Facture",
                                                    { 
                                                      "url": path('bill_print', { 'id': bill.id }),
                                                      "icon": WidgetExtension.ICON_DOWNLOAD,
                                                      "csrf": true
                                                    }
                                      )
                            }}
                        {% else %}
                            {{ get_link("Accepter",
                                                    { 
                                                      "url": path('bill_accept', { 'id': bill.id }),
                                                      "icon": WidgetExtension.ICON_OK,
                                                        "method": "get",
                                                        "confirm":"Etes-vous sur de vouloir valider le devis " ~ bill.title ~ " ?",
                                                      "csrf": true
                                                }
                                      )
                            }}                            
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
