{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% set page_title = "Liste des prestations de la facture n°" ~ bill_id %}
{% block content %}
    <table class="dataTable">
        <thead>
            <tr>
                <th style="width: 60px">Date</th>
                <th style="width: 20px">Qté</th>
                <th>Type de prestation</th>
                <th style="width: 100px">Montant total</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.date|date('d/m/Y') }}</td>
                    <td>{{ entity.quantity|number_format(2, ',', ' ') }}</td>
                    <td>{{ entity.activity.name }} - {{ entity.activity.description }}</td>
                    <td style="text-align: right"><b>{{ (entity.price * entity.quantity)|number_format(2, ',', ' ') }} €</b></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br /><br /><br />
    <div style="text-align: right; margin: 10px 0 0 0">
        {{ get_previous_button("Précédent", path(back_url)) }}
    </div>            
{% endblock %}
