<p style="font-family: verdana, 'trebuchet ms', sans-serif">
    Bonjour {{ client_name }},<br />
    Le devis '{{ devis_name }}' vient d'être mis en ligne sur le portail <a href="{{ mylittlebusiness_uri }}">{{ mylittlebusiness_uri }}</a>.<br />
    Merci de bien vouloir vous connecter avec vos identifiants pour consulter le document.<br />
    <br />
    Bien cordialement,<br />
    <span style="font-weight: bold; text-transform: capitalize">{{ name }}</span><br />
    <br />
    <span style="font-size: 10px">
        <span style="font-weight: bold; text-transform: capitalize; font-style: italic">NO.SIREN</span> - {{ no_siren }}<br />
        <span style="font-weight: bold; text-transform: capitalize; font-style: italic">PHONE</span> - {{ phone_number }}<br />
        <span style="font-weight: bold; text-transform: capitalize; font-style: italic">W3</span> - <a href="{{ mylittlebusiness_uri }}">{{ mylittlebusiness_uri }}</a><br />
        <span style="font-weight: bold; text-transform: capitalize; font-style: italic">@</span> - {{ email }}<br />
    </span>
</p>