{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% block content %}

    {{ form_start(entityForm) }}
    {{ form_rest(entityForm) }}

    <br />
    <div style="text-align: right">
        <button type="button" class="btn btn-info" onclick="javascript:document.location.href = '{{ path(back_url) }}';">
            <span class="glyphicon glyphicon-chevron-left"></span> Précédent
        </button>&nbsp;
        <button type="button" id="form_submit" class="btn btn-danger" onclick="javascript:doCreate();">
            <span class="glyphicon glyphicon-floppy-saved"></span> Valider
        </button>
        <button type="submit" id="hidden_form_submit" style="visibility: hidden"></button>
    </div>
    {{ form_end(entityForm) }}
{% endblock %}