<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>Devis/Facture</title>
        <style type="text/css">
            @page {
                margin: 4cm 2cm 2cm 2cm;
                font-family: 'Helvetica Neue';
            }
            
            #header,
            #footer {
              position: fixed;
              left: 0;
              right: 0;
              font-size: 10px;
              text-align: center;
              font-family: 'Helvetica Neue';
              letter-spacing: 1px;
            }
            
            #header {
              top: -120px;
              text-align: center;
            }

            #footer {
              bottom: 120px;
            }
            
            #footer .page:after {
                content: counter(page, upper-roman);
            }
            
            table.bill thead {
                font-style: italic;
            }
            
            table.bill th {
                font-weight: normal;
                font-style: italic;
                font-size: 10pt;
                padding: 0 5px 0 5px;
            }
            
            table.bill tr {
                background-color: #d6d1c5;
            }
            
            table.bill td {
                text-align: right;
                padding: 0px 4px;
            }
            
            table.bill td.totalPrice1 {
                font-weight: bold;
                color: #920003;
            }
            
            table.bill td.activityName {
                text-align: left;
            }
            
            table.bill td.activityDescription {
                font-size: 12px;
                font-style: italic;
                padding: 0 0 10px 5px;
            }
            
            table.bill td.labelMontantTotal {
                text-align: right;
                font-weight: bold;
                font-size: 14px;
            }
            
            table.bill td.montantTotal {
                text-align: right;
                font-weight: bold;
                background-color: #928c87;
                color: white;
                padding: 2px 5px;
            }
            
            table.bill td.tva {
                text-align: right;
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        {% set company = entity.company %}
        <div id="header">
            {% if company.logoFile %}
                <img src="{{ 'uploads/' ~ company.logoFile }}" alt="{{ company.shortName|upper }}" style="max-width:500px; max-height: 120px" />
            {% else %}
                {{ company.shortName|upper }}
            {% endif %}
        </div>
        <div id="footer">
            <span style="font-family: 'Helvetica Neue Thin'; font-size: 10px">PAGE 1</span>
            <div style="margin: 5px 0 0 0; font-family: 'Helvetica Neue Light'">
                En votre aimable règlement, à l’ordre de <span style="font-family: 'Helvetica Neue'; font-weight: bold">{{ company.shortName }}</span>, à réception. Loi n°92442 du 31 décembre 1992. La facture est payable comptant – escompte néant pour règlement anticipé. Toute somme non payée dans les 30 jours est susceptible de porter intérêts à un taux égal à une fois et demi le taux de l’intérêt légal.
            </div>
            <div style="border-top: 1px solid black; margin: 10px 0 0 0; padding: 3px 0 0 0; font-family: 'Helvetica Neue Thin'; letter-spacing: 1px">
                {{ company.name|upper }} – {% if company.eirlStatus|upper %}EIRL{% endif %}<br />
                {{ company.address }}<br />{{ company.email }} • {{ company.phoneNumber }}
            </div>
            <div style="margin: 10px 0 0 0; font-family: 'Helvetica Neue UltraLight'">
                SIREN : {{ company.siren }} • Dispensé d’immatriculation en application de l’article L 123-1-1 du code de commerce
            </div>
        </div>

        <div id="content">
            <table style="width: 100%; margin: 10px 0 0 0">
                <tr>
                    <td style="width: 65%; text-align: left; vertical-align: top">
                        <div style="font-weight: bold; font-size: 16px">
                            <span style="color: #920003">{% if forceQuote %}DEVIS{% else %}FACTURE{% endif %} D'HONORAIRES</span>
                            <br />N°{{ entity.id }}{% if forceQuote %}/D{% endif %}
                        </div>
                        {% if not forceQuote %}<div style="font-size:10px; font-style: italic">devis de référence n°{{ entity.id }}/D</div>{% endif %}
                        <div style="margin: 5px 0 0 2px; font-size: 12px; text-transform: uppercase">
                            {% if not forceQuote %}
                            > {{ entity.dateAccepted|localizeddate('full', 'none') }}
                            {% else %}
                            > {{ entity.dateInitial|localizeddate('full', 'none') }}
                            {% endif %}
                        </div>
                    </td>

                    <td style="text-align: left;">
                        <div style="border-left: 1px solid black; font-size: 14px; padding: 5px 0 5px 5px">
                            <div style="font-weight: bold">{{ entity.client.name }}</div>
                            {{ entity.client.address|nl2br }}
                        </div>
                    </td>
                </tr>
            </table>

            <div style="margin: 80px 0 0 0; color: #920003; font-weight: bold; font-size: 18px">{{ entity.title }}</div>
            <div style="margin: 0; font-weight: bold; font-size: 14px">Détail des prestations</div>

            <table class="bill" style="width: 100%">
                <tr>
                    <td style="text-align: left; background-color: transparent; font-size: 12px; font-style: italic">désignation/description</td>
                    <td style="text-align: right; background-color: transparent; font-size: 12px; font-style: italic">prix unitaire</td>
                    <td style="text-align: right; background-color: transparent; font-size: 12px; font-style: italic">qté</td>
                    <td style="text-align: right; background-color: transparent; font-size: 12px; font-style: italic">prix total</td>
                </tr>
                {% for benefit in benefits %}
                <tr>
                    <td class="activityName" style="font-family: 'Helvetica Neue Medium'">{{ benefit.activity.name|upper }}</td>
                    <td style="font-family: 'Helvetica Neue Light'">{{ benefit.price|number_format(2, ',', ' ') }} €</td>
                    <td style="font-family: 'Helvetica Neue Light'">{{ benefit.quantity|number_format(2, ',', ' ') }}</td>
                    <td class="totalPrice1">{{ (benefit.price*benefit.quantity)|number_format(2, ',', ' ') }} €</td>
                </tr>
                <tr><td colspan="4" class="activityDescription" style="background-color: transparent; text-align: left">{{ benefit.activity.description|lower }}</td></tr>
                {% endfor %}
                {% if entity.handOff != 0 %}
                <tr>
                    <td colspan="3" class="activityDescription" style="background-color: transparent; font-family: 'Helvetica Neue Medium'">REMISE SPECIALE</td>
                    <td class="activityDescription" style="background-color: transparent;">{{ entity.handOff|number_format(2, ',', ' ') }} %</td>
                </tr>
                <tr><td colspan="4" class="activityDescription" style="background-color: transparent; text-align: left"></td></tr>
                {% endif %}
                <tr>
                    <td colspan="4" class="labelMontantTotal" style="background-color: transparent; text-align: right">MONTANT TOTAL</td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color: transparent; text-align: left"></td>
                    <td colspan="2" class="montantTotal">{{ entity.totalHandOffPrice|number_format(2, ',', ' ') }} €</td>
                </tr>
                <tr>
                    <td colspan="4" class="tva" style="background-color: transparent; text-align: right; font-size: 10px">TVA non applicable, article 293 B du CGI</td>
                </tr>
            </table>
        </div>
    </body>
</html>
