{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% block content %}
    <div class="container" style="width: 70%; padding: 10px; margin: auto">
    <div class="jumbotron">
        <h1>Bienvenue !</h1>
        <p>Avec MyLittleBusiness gérez les prestations et facturations de votre autoentreprise.</p>
        <br />
        <p><a class="btn btn-primary btn-lg" href="http://www.blacksmurf.net/mylittlebusiness" target="_blank" role="button">En savoir plus</a></p>
    </div>
</div>
{% endblock %}
