{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% set page_title = "Résumé" %}
{% block content %}
    <div class="bs-callout bs-callout-info">

        {% for yearHistory in years %}
            {% if yearHistory != year %}
                <a href="{{ path('home_history', { 'year': yearHistory}) }}" class="btn btn-primary" role="button">Exercice {{ yearHistory }}</a>
            {% endif %}
        {% endfor %}

        <h3>Exercice {{ year }}</h3>
        <p>
            <table style="width: 98%">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width: 100px; text-align: right">Montant total</th>
                        <th style="width: 100px; text-align: right">Volume total</th>
                    </tr>
                    <tr>
                        <td>Prestations facturées</td>
                        <td style="text-align: right">{{ benefitsBilledAmount|number_format(2, ',', ' ') }} €</td>
                        <td style="text-align: right">{{ benefitsBilledQuantity|number_format(2, ',', ' ') }}</td>
                    </tr>
                    <tr>
                        <td>Prestations facturées en attente d'acceptation</td>
                        <td style="text-align: right">{{ benefitsQuoteAmount|number_format(2, ',', ' ') }} €</td>
                        <td style="text-align: right">{{ benefitsQuoteQuantity|number_format(2, ',', ' ') }}</td>
                    </tr>
                    <tr>
                        <td>Prestations non facturées</td>
                        <td style="text-align: right">{{ benefitsUnBilledAmount|number_format(2, ',', ' ') }} €</td>
                        <td style="text-align: right">{{ benefitsUnBilledQuantity|number_format(2, ',', ' ') }}</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </p>
    </div>
{% endblock %}
