{% extends 'BlackSmurfSymfony2CoreBundle::index.html.twig' %}
{% block content %}
    {% if is_granted("ROLE_USER") %}
        <h2>MyLittleBusiness</h2>
        <p>
            Page d'accueil
        </p>
    {% else %}
        {% include 'BlackSmurfBusinessBundle:Default:home_no_login.html.twig' %}
    {% endif %}
{% endblock %}
